<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Document</title>
</head>
<body style="background: rgb(40, 48, 58)">
    <div class="container d-flex align-items-center justify-content-center vw-100 vh-100">
        <form style="background: rgb(50, 58, 68)" class="rounded p-4 col-12 col-sm-12 col-md-12 col-lg-3" action="/shortUrls" method="post">
            <legend class="text-center mb-5 text-light">URL Shortener</legend>
            <div class="form-group mb-3">
                <label for="fullUrl" class="text-light">Votre Url <span class="text-danger">*</span></label>
                <input required class="form-control" type="text" name="fullUrl" id="fullUrl">
            </div>
            <div class="form-group mb-3">
                <label class="text-light" for="shortCode">Votre raccourci <span class="text-danger">*</span></label>
                <input required class="form-control" minlength="4" aria-valuemin="4" type="text" name="shortCode" id="shortCode">
                <small id="emailHelp" class="form-text text-muted">
                    Votre code doit faire au 4 caractères
                </small>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary float-end">Envoyer</button>
            </div>
        </form>
        <% if (typeof test !== 'undefined') console.log(test); { %>

        <% } %>
    </div>
</body>
</html>
